body{
  background-color: beige;
}

.buttonStyle{
  margin : 10px;
  padding : 4px;
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: teal;
}

.inputStyle{
  margin : 4px;
  padding: 4px;
  border-width: 2px;
  border-style: solid;
}

.listStyle{
  margin: 8px;
  padding : 8px;
  border-bottom-style: dotted;
  border-color: blue;
  border-width : 2px;
} 